.Voters {
    padding: 1rem;
}
h5{
    color: rgb(54, 54, 54);
    font-weight: bold;
}
.Voters .Table{
    /* border: 1px solid red; */
    overflow: scroll;
    padding: 1rem;
    width:auto;
}
#AddNew{
    background-color: rgb(0, 81, 0);
    font-size: 0.7rem;
    margin: 0.5rem 1rem;
}
.Voters .Table .Table-Column-Heading{
    /* border: 1px solid green; */
    background-color: black;
    border: 1px solid whitesmoke;
    color: white;
    font-weight: bold;
    font-size: 0.8rem;
}
.Voters .Table .Table-Row{
    font-size: 0.75rem;
}
.Voters .Table #delete Button{
    background-color: rgba(173, 0, 0, 0.766);
}
.Voters .Table .Button-span{
    margin: 0rem 0.3rem;
}
.Voters .Table .Table-Row Button{
    font-size: 0.75rem;
}