
.Nav{
    padding: 0.1rem;
    /* display:block; */
    /* overflow: hidden; */
    width: 100%;
    /* border-radius: 0.5rem; */
    font-size: 1rem;
    background-color: #ecebeb58;
    background-color: black;
    color: #89c4ee;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.Heading{
    /* border: 1px solid red; */
    padding: 0.4rem 1rem;
    font-weight: bold;
    margin-right: 10rem;
    font-size: 1.6rem;
    color: #89c4ee
}
.Nav-items-container{
    /* border: 1px solid green; */
    margin: 0rem auto;
    padding:0rem 3rem;

}
.Nav-items{
    /* border: 1px solid red; */
    margin: 0.5rem 0.5rem;
    padding: 0.3rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    color: #89c4ee
}

.Nav-items:hover{
    background-color: #89c4ee;
}