.User{

}
.User .Heading2{
    /* border: 1px solid black; */
    margin: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0.5rem;
}
.userPage{
    border: 1px solid red;
    margin: 1rem;
    display: grid;
    grid-template-columns: 35% 65%;
}
.userDetails{
    border: 1px solid green;
    margin: 1rem;
}
h3{

}

.upcomingElection{
    margin: 1rem;
}

.upcomingElection .electionListItem{
    border: 1px solid gray;
}