.SideNav-Container{
    /* border: 1px solid green; */
    /* position: relative; */
    height:100%;

}
.SideNav{
    /* border: 1px solid red; */
    height: 100%;

}
.sidebar-content{
    /* border: 1px solid green; */
    padding: 0;
}
.sidebar-content .NavLink{
    padding: 0rem;
    margin: 0;
}

.SideNav-Headings{
    /* border: 1px solid red; */
    padding: 0rem;
    font-weight: bold;
}

.SideNav-options{
    /* border: 1px solid red; */
    background-color: #333;
    margin: 0rem;
}