#CreateCandidateButton{
    color: white;
    padding: 0rem;
    font-size: 0.7rem;
}

.CreateCandidateContent{
    /* border: 1px solid red; */
    padding: 0;
}
.CreateCandidateBox{
    /* border: 1px solid green; */
    width: 100%;
}